.container {

}

.line {
  border: 2px solid #454444;
  border-radius: 2px;
}

.cardList {
  padding: 8px;
}

.cardContainer {
  height: 200px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #efefef;
  }
}
