.flexframe{
    display: flex;
    justify-content:space-around;
}
.center {
    display: flex;
    // justify-content:flex-end;
}
  
.buttonstyle {
    padding: '16px 24px';
    display: flex;
    justify-content: center;
     align-items: center; 
}

.HeaderSearch{
    text-align: 'right',
}

